@charset "utf-8";

html {}

body {
    /* margin: 10px; */
}

/* header */
header {
    background: #3C4767;
    color: #fff;
}

h1.top {
    margin-left: 41px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 41px;
}

a {
    color: #fff;
}

.panel_item {
    color: #000;
}

.main-logo {
    width: 154px;
}



/* main content */
/* div{
    width: fit-content;
    display: flex;
} */

#row {
    display: flex;
    /* flex-flow: row wrap; */
}

#container {
    flex: 0 0 80%;
    margin: 20px;
}

#side-bar {
    padding: 10px;
    /* flex: 0 0 19%; */
    border-left: solid 2px #cccccc;
}

#head {
    display: flex;
    /* align-items: center; */
}

/* ログイン後 ------------------------------------------------ */
.user {
    display: flex;
    vertical-align: middle;
}

.u-icon  {  /* ユーザーアイコン */
    border-radius: 50%;
    width: 51px;
    height: 51px;
    margin: 5px;
    display: inline-block;
}

.u-name {
    margin: 20px;
}

.u-bio {
    margin: 20px;
}

.c-time {
    margin-right: 10px;
    margin-left: auto;
}


.post {
    padding: 20px;
    text-align: left;
}

.i-icon {
    /* width: 51px; */
    height: 51px;
    margin: 5px;
}

.podt-all {
    padding: 10px;
    border-bottom: solid 2px #cccccc;
}

.edit {
    display: flex;
    margin-right: 0;
    margin-left: auto;
    justify-content: flex-end;
}

td {
    margin: 10px;
    vertical-align: middle;
}

.follower {
    margin-top: 20px;
}


/* アコーディオンメニューの実装  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.user_menu {
    display: flex;
    align-items: center;
    margin: 20px 10px auto 10px;
}

li {
    list-style: none;
}

li.panel_item:hover {
    background-color: #fba652;
    transition : all 0.5s ease 0s;
}

.gnav {
    width: 245px;
    margin-right: 0;
    margin-left: auto;
}

.gnav .gnav-contents .menu {
    /* display: right; */
    text-align: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.gnav .gnav-contents .menu div {
    padding: 10px 0;
}

.gnav .gnav-contents .menu .dropdown-menu {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.gnav .gnav-contents .menu .dropdown-menu li {
    padding: 10px 0;
}

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn2{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    width: 50px;
    height: 35px;
    cursor: pointer;
    background: none;
  }

/*ボタン内側*/
.menu span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 13px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  }


.menu span:nth-of-type(1) {
  top:20px;
  left: 12px;
  transform: translateY(6px) rotate(60deg);
  width: 35%;
}

.menu span:nth-of-type(2) {
  top:32px;
  left: 20px;
  transform: translateY(-6px) rotate(-60deg);
  width:35%;
}

/*activeクラスが付与されると線が回転して×に*/

.menu.active span:nth-of-type(1) {
    top: 20px;
    left: 12px;
    transform: translateY(6px) rotate(-60deg);
    width: 35%;
}

.menu.active span:nth-of-type(2) {
    top: 32px;
    left: 20px;
    transform: translateY(-6px) rotate(60deg);
    width: 35%;
}


/* つぶやきフォーム  ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.post-form {
    display: flex;
}

.tweet {
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-bottom: 3px solid #cccccc;
    box-sizing: border-box;
    border-right: none;
    border-left: none;
    border-top: none;
    background: #fff;
    margin: 0.5em 0;
    line-height: 1.5;
    height: 6em;
}

.post-img {
    border: none;
    background: none;
}

.hide-area {
    display: none;
}   /* 非表示 */

/*ボタン　　 ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.btn,
a.btn {
  color: #fff;
  background-color: rgba(55, 55, 241, 0.866);
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  width: 138px;
  height: 20px;
  vertical-align: middle;
  position: relative;
}
.btn:hover,
a.btn:hover {
  color: #fff;
  background: #9291eb;
}

.btn:visited {
    color: #fff;
}

.search-btn {
    margin-top: 60px;
}

.btn-danger1 {
    color: #fff;
    background-color: #6593f6;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.btn-danger2 {
    color: #fff;
    background-color: #f96c6e;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

/* searchページ */
.search-form {
    width: 30em;
    height: 3em;
    max-width: 100%;
    margin: 15px;
    vertical-align: middle;
}

.search-icon {
    width: 3em;
    height: 3em;
    vertical-align: middle;

}

/* followリスト、followerリスト ------------------------------------------ */
div.f-icon {
padding: 20px;
border-bottom: solid 4px #cccccc;
}

.follow-user {
    /* display: flex; */
    flex-wrap: wrap;
    padding: 20px;
    border-bottom: solid 4px #cccccc;
}

.f-list{
    /* border-bottom: solid 4px #cccccc; */
    font-size: 30px;
    color: #696969;
    padding-bottom: 10px;
}

/* モーダルウィンドウ関連 ------------------------------------ */
/* .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: .6;
    display: none;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
}

.modal-close__wrap {
    position: absolute;
    right: 40px;
    top: 20px;
}

.overlay.open {
    display: block;
}

  .modal.open {
    display: block;
} */

.btn_test {
    font-size: 5px;
}
